@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color:#88f3b3
    }

</style>

<div class="text-center">
    <h1 class="display-4">Учет времени занятий</h1>

</div>

<div class="text-center">
   <img src="carperv.png" width="300" height="200" />

</div>

<div class="text-center">
    <input placeholder="Введите логин" />

</div>

<div class="text-center">
    <input placeholder="Введите пароль" />

</div>


<div class ="text-center">
<button name="vhod">Войти </button>

</div>
