@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color:#88f3b3
    }

</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div class="text-center">

</div>
