@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color:#88f3b3
    }

</style>

<div> <center>
    <h1 class="display-4">Учет времени занятий</h1>
    </center>
</div> 

<div>
    <center>
   <img src="carperv.png" width="300" height="200" />
    </center>
</div> 

<div>
    <center>
    <input name="login_field" placeholder="Введите логин" />
    </center>
</div>

<div>
    <center>
    <input name ="pass_field" placeholder="Введите пароль" />
    </center>
</div>


<div>
    <center>
<button name="vhod">Войти </button>
    </center>
</div>
