<!DOCTYPE html>

<html>

   <div> <center>
    <h1 class="display-4">Ученик :</h1>
    </center>
</div> 

<body>
    <div>
        <center>
            <button name="start">Начать занятие</button>
        </center>
    </div>
    
</body>
</html>
