<!DOCTYPE html>

<html>
<style>
    body {
        background-color: #88f3b3
    }

</style>
 <div> <center>
    <h1 class="display-4">Ученик :</h1>
    </center>
</div> 

<body>
    <div>
        <center>
            <input name="login_field" placeholder="логин преподавателя" />>
        </center>
    </div>
    
</body>
</html>
