<html>
<style>
    body {
        background-color: #88f3b3
    }

</style>
<div>
    <center>
        <h1 class="display-4">Преподаватель :</h1>
    </center>
</div>

<body>
    <div>
        <center>
            <button name="start">Начать занятие</button>
        </center>
    </div>
    <div>
        <center>
            <button name="start">Начать занятие</button>
        </center>
    </div>
    <div>
        <center>
            <button name="end">Закончить занятие занятие</button>
        </center>
    </div>
</body>
</html>
